<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="5cef6a86-6269-43c5-83fe-dc7f2b6f385a"
    Publisher="CN=wardc"
    Version="0.2.0.0" />

  <mp:PhoneIdentity PhoneProductId="5cef6a86-6269-43c5-83fe-dc7f2b6f385a" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Futile</DisplayName>
    <PublisherDisplayName>Ward Childress</PublisherDisplayName>
    <Logo>Assets\App\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="Futile.App">
      <uap:VisualElements
        DisplayName="Futile"
        Square150x150Logo="Assets\App\Square150x150Logo.png"
        Square44x44Logo="Assets\App\Square44x44Logo.png"
        Description="A 2D sprite-based graphics engine written in modern C++ using DirectX 11."
        BackgroundColor="black">
        <uap:DefaultTile Wide310x150Logo="Assets\App\Wide310x150Logo.png" Square310x310Logo="Assets\App\Square310x310Logo.png" Square71x71Logo="Assets\App\Square71x71Logo.png" ShortName="Futile">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square310x310Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
        <uap:SplashScreen Image="Assets\App\SplashScreen.png"  BackgroundColor="black"/>
        <uap:LockScreen BadgeLogo="Assets\App\BadgeLogo.png" Notification="badgeAndTileText"/>
      </uap:VisualElements>
    </Application>
  </Applications>
</Package>